/* Style for the entire page (body tag)*/
body {
  font-family: Arial, sans-serif;
  color: #555;
}

/* Style for the h1 tag */
h1 {
  color: #007bff;
}

/* Style for the h2 tag */
h2 {
  padding: 20px;
}
