* {
    margin: 0;
    padding: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
  }
  .header .logo a {
    display: inline-flex;
    font-size: 1em;
  }
  .header .links {
    display: flex;
    padding-right: 2em;
  }
  .header .links a {
    padding-left: 10pt;
    padding-right: 10pt;
    background-color: skyblue;
    display: inline-block;
  }
  .header div {
    display: inline-block;
  }
  .logo img {
    height: 4em;
    width: auto;
    display: block;
  }
  .header h1, .header h2 {
    color: black;
  }
  .header h1{
    font-size: 40pt;
  }
  a {
    text-decoration: none;
  }